li#nav-item-search{
    position: relative;
    left:500px;
    color: white;
}

body{
    margin: 0;
    padding:0;
    background-image: url("./images/voyages_touristique1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color:black;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
}

li{
    padding: 20px;
}
li a{
    color:white;
    text-decoration: none;
}

li a img{
    margin:0;
    padding:0;
    width: 20px;
    height: 20px;
}